/*
	Color Codes:
	GRAPHITE
	HOT PINK
	SKY BLUE
	NEON GREEN
	DARK ORANGE

	#272822
	#F92672
	#66D9EF
	#A6E22E
	#FD971F
*/

/*
	import code highlighting theme
*/
@import url(monokai.css);

/* BASIC FORMAT*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #272822;
  font-family: 'Didact Gothic', sans-serif;
  font-size: x-large;
}

body {
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}


a {
  color: #A6E22E;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

a:active {
	color: #FD971F;
}

::selection{
	color: black;
	background-color: #FD971F;
}


blockquote {
	margin-top: 0;
	text-align: justify;
    text-justify: inter-word;
    padding-left: 2%;
	border-left: 2.5px solid #66D9EF;
}

code { 
	color: #000;
	background-color: #A6E22E;
}

pre code {
	display: block;
	font-size: 100%;
	overflow: scroll;
	padding: 20px;
	color: #fff;
	background-color: #272822; 
	border: 1px solid #999;
}


h4 {
	color: #A6E22E; 
}

mark {
	color: #000;
	background-color: #A6E22E;
}

.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}

@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.2;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.2;
    }
}

/* 
	SECTION 
*/
.section_title {
	font-family: 'Bungee Shade', cursive;
	font-weight: bold;
	color: #F92672;
}

.section_content {
	border-left: 5px solid #F92672;
	padding-top: 2%;
	padding-left: 10%;
	padding-right: 10%;
}

/*
	BLOG
*/
.blog {
	padding-left: 10%;
	padding-right: 10%;
}
.blog_card {
	display: flex;
	flex: column;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
	margin: 20px auto;
	width: 400px;
	border-top: 2px solid #F92672;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title_section{
	font-size: larger;
	padding: 10px;
}
.excerpt_section {
	padding: 10px;
}
/*
	PROFILE
*/
.profile_container {	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.profile_card {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: auto;
	font-size: larger;
	width: 40%;
	border-top: 2px solid #F92672;
	border-radius: 5px 5px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);

}

.image_section {
	justify-content: center;
	padding: 10px;

}

.snippet_section {
	text-align: center;
	padding: 10px;
}

.profile_image {
	max-height: 128px;
	max-width: 128px;
	border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile_social {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 5px;
	height: 40px;
	width: 38%;
	overflow: hidden;
	border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile_icons {
	display: inline-block;
	height: 32px;
	width: 32px;
}

/*
	BACKGROUND
*/

.employment {
	text-align: center;
}
/* 
	PORTFOLIO
*/

.grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: baseline;
}

.card {
	display: flex;
	flex-flow: column;
	align-items: center;
	height: 300px;
	width: 250px;
	margin: 10px;
  	padding: 10px;
  	border-top: 2px solid #A6E22E;
  	border-radius: 5px 5px 0 0;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
	text-align: center;
	margin: auto;
}

.container {
    overflow: hidden;
    text-align: center;
    margin: auto;
}

.icon {
	max-height: 64px;
	max-width: 64px;
}

/*
	SKILLS
*/


/*
	FOOTER
*/

footer {
	padding: 20px;
  	text-align: center;
  	font-size: smaller;
	font-family: 'Bungee Shade', cursive;
   	font-weight: bold;
	color: #F92672;
   	background-color: #272822;

}

#heart {
	height: 20px;
	width: 20px;
}

.bounce {
	display: inline-block;
  	position: relative;
	-webkit-animation: bounce 0.5s linear;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}

/*
	MOBILE
*/

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    blockquote {
        text-align: left;
        font-size: smaller;
    }

    .section_content {
    	padding:1%;
    }

    .profile_card {
    	width: 85%;
    }

    .profile_social {
    	width: 80%;
    }

    .grid {
    	flex-direction: column;
		justify-content: center;
		align-items: center;
    }

    .skills {
		text-align: center;
	}
}
