<section class="section_background">
  <div class="section_title">Background</div>
  <div class="section_content">
    <p>I'm a fourth year Computer Science student at the <a class="pulsate" href="http://www.cse.buffalo.edu/" target="_blank">University at Buffalo</a> expecting to graduate in May 2018. 

    <p>I'm a person who lives to learn new things and discover new experiences, this has allowed me to be well-rounded in more than one field of Computer Science. I consider myself as person who is adaptable and not afraid to try new technologies, which is why I'm always up-to-date with the newest tech stacks. You can see in my projects section that I have dabbled with anything from high-level programming (front-end software development) to low-level programming (real-time embedded system development.)  </p>

    <p><strong>When I'm not glued to my computer screen</strong>, I'm probably playing or watching soccer, reading fiction, or learning new languages (currently learning Japanese) But not necessarily doing those things in that order.</p>

    {% include employment.html %}

  </div>
</section>