<section class="section_background">
  <div class="section_title">Background</div>
  <div class="section_content">
    <blockquote>I'm a fourth year computer science student at the <a href="http://www.cse.buffalo.edu/">University at Buffalo</a> expecting to graduate in <mark>May 2018.</mark></blockquote>

    <blockquote>I'm a person who loves to learn new things and discover new experiences, which has allowed me to be well-rounded in more than one field of computer science. I consider myself as a person who is adaptable and not afraid to try new technologies; which is why I'm always up-to-date with the newest tech stacks. You can see in my projects section that I have dabbled with anything from high-level programming (front-end software development) to low-level programming (real-time embedded system development.)</blockquote>

    <blockquote><strong>When I'm not glued to my computer screen</strong>, I'm probably playing or watching soccer, reading fiction, or learning new languages (currently learning Japanese.) But not necessarily doing those things in that order.</blockquote>

    <div class="employment">
    	{% include employment.html %}
    </div>
  </div>
</section>