<section class="section_background">
  <div class="section_title">Background</div>
  <div class="section_content">
    <p>I'm a fourth year Computer Science student at the <a class="pulsate" href="http://www.cse.buffalo.edu/" target="_blank">University at Buffalo</a> expecting to graduate in May 2018. 

    <p>I'm a well rounded individual in more than one field of Computer Science. I consider myself as person who is adaptable and not afraid to try new technologies and get out of the infamous "comfort zone". You can see in my portfolio section that I have dabbled with anything from Front End Software Development to Real-Time Embedded System Development.  </p>

    <p><strong>When I'm not glued to my computer screen</strong>, I'm probably playing or watching soccer, reading fiction, or learning new languages ( currently learning Japanese! ) But not necessarily doing those things in that order.</p>

    {% include employment.html %}

  </div>
</section>