<footer>
  <div>
  	<strong>Made with love using the finest 
      <a href="{{ site.baseurl }}/credits.html">ingredients</a>
    </strong> <br>	
    <small id="copyright">&copy;{{ 'now' | date: "%Y" }} ALI MORSHID</small>
    <div>
  		<a href="mailto:alimorsh@buffalo.edu"><img src="{{ site.baseurl }}/img/m.svg" /></a>
      <a href="https://www.github.com/aliofye"><img src="{{ site.baseurl }}/img/g.svg" /></a>
  		<a href="https://www.twitter.com/aliofye"><img src="{{ site.baseurl }}/img/t.svg" /></a>
  	</div>
  </div>
</footer>