<section class="section_profile">
	<div class="section_title">About</div>
	<div class="section_content">
		<div class="profile_container">
			<div class="profile_card">
				<div class="image_section">
					<img src="/img/profile.jpg" class="profile_image"/>
				</div>
				<div class="snippet_section">
					<strong>Ali Morshid</strong><br>
					<small>@aliofye</small><br>
					<small><em>Software Engineer</em></small>
				</div>
			</div>
			<div class="profile_social">
				<a href="https://www.github.com/aliofye"><img class="profile_icons" src="/img/g.png"></a>
				<a href="https://www.twitter.com/aliofye"><img class="profile_icons" src="/img/t.png"></a>
				<a href="https://www.instagram.com/aliofye"><img class="profile_icons" src="/img/i.png"></a>
			</div>
		</div>
	</div>
</section>
