<section class="section_projects">
  <div class="section_title">Projects</div>
  <div class="section_content">
  	
  	<div class="grid">
      {% for project in site.data.projects %}
    	<div class="card">
    		<div class="card_header center_text">
          <h3>{{ project.title }}</h3>
    		</div>
    		<div class="card_description center_text">
      		{{ project.description }}
    		</div>
        <div class="card_links center_text">
          <!-- github link -->
          {% if project.code == "private" %}
              <small>Currently Private</small>
          {% else %}
            <a href="{{ project.code }}">
              <img class="img_links" src="{{ site.baseurl }}/img/g.svg" />
            </a>
          {% endif %}
          <!-- blog post link -->
          {% if project.url == "none" %}
              <!-- do nothing -->
          {% else %}
            <a href="{{ project.url }}">
              <img class="img_links" src="{{ site.baseurl }}/img/b.svg" />
            </a>
          {% endif %}
        </div>
    	</div>
    	{% endfor %}
    </div>
  </div>
  <!-- <div class=" adding_projects center_text"> 
    <div class="loading">
      <div class="loading-dot"></div>
      <div class="loading-dot"></div>
      <div class="loading-dot"></div>
      <div class="loading-dot"></div>
    </div>
    In the process of adding all my projects, stay tuned.
  </div> -->
</section>