<section class="section_projects">
  <div class="section_title">Projects</div>
  <div class="section_content">
  	
  	<div class="grid">
      {% for project in site.data.projects %}
    	<div class="card">
    		<div class="header">
      		<img class="icon" src="{{ site.baseurl }}{{ project.icon }}"/><br>
          <strong>{{ project.title }}</strong>
    		</div>
    		<div class="container">
      		<small>{{ project.description }}</small>
    		</div>
    	</div>
    	{% endfor %}
    </div>

  </div>
</section>