/*
	import code highlighting theme
*/
// @import url(_monokai.scss);
// @import url(_loading.scss);


/* 
	COLORS
 */

$graphite: #242620;
$light-graphite:  #272822;
$lighter-graphite: #383428;
$neon-pink: #F92672;
$neon-blue: #66D9EF;
$neon-green: #A6E22E;
$neon-orange: #FD971F;
$snow: #fff;
$abyss: #000;

/* 
	FONTS
 */
$primary-font: 'Zilla Slab', serif;
$title-font: 'Bungee Shade', cursive;
$subtitle-font: 'Bungee Shade', cursive;
$header-font: 'Zilla Slab', serif;
$code-font: monospace;


$primary-font-size: x-large;
$title-font-size: xx-large;
$subtitle-font-size: x-large;
$code-font-size: x-large;

$text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);

/* 
	STYLING
 */

$primary-border: 5px solid #F92672;
$secondary-border: 2.5px solid #66D9EF;
$code-border: 1px solid $snow;

$card-height: 300px;
$card-width: 250px;

/* 
	CSS
 */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: $snow;
  background-color: $graphite;
  font-family: $primary-font;
  font-size: $primary-font-size;
  text-shadow: $text-shadow;
}

::selection{
	color: black;
	background-color: $neon-orange;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb, ::-webkit-resizer {
 	background: $neon-pink; 
}

::-webkit-scrollbar-thumb:hover {
 	background: $neon-blue; 
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner {
	background: $lighter-graphite; 
}

/* 
	ELEMENTS
 */

a {
	color: $neon-green;
  	text-decoration: none;
}

a:hover {
  		color: $snow;
  		border-bottom: 3px solid $neon-pink;
}

a:active {
	color: $neon-orange;
}

blockquote > a, p > a, h4 > a {
	color: $snow;
	border-bottom: 3px solid $neon-pink;
	text-decoration: none;
}

blockquote > a:hover, p > a:hover, h4 > a:hover {
	animation: highlight 0.3s;
	animation-fill-mode: forwards;
	text-decoration: none;
}

blockquote {
	margin-top: 0;
    padding-left: 2%;
    text-align: justify;
    text-justify: inter-word;
    font-size: larger;
	border-left: $secondary-border;
}

code, mark { 
	padding: 5px;
	font-family: $code-font;
	font-size: $code-font-size;
	color: $snow;
	background-color: $lighter-graphite;
}

pre > code {
	display: block;
	margin-left:-30px;
	margin-right:-30px;
	padding:0;
	overflow: scroll;
	padding: 0;
	color: $snow;
	background-color: $lighter-graphite; 
	box-shadow: 3px 3px 3px $abyss;
}

footer {
	position: end;
	padding: 20px;
  	text-align: center;
  	font-size: smaller;
	font-family: $title-font;
   	font-weight: bold;
	color: $neon-pink;
   	background-color: $light-graphite;
   	border-top: 2px solid rgba(0, 0, 0, 0.2);
}

h1 {
	color: $neon-pink;
}

h1:before {
	content: "#";
}

h2, h3 {
	color: $neon-blue;
}

h2:before {
	content: "> "
}




/* 
	ANIMATIONS
 */

.pulsate {
    animation: pulsate 3s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.5;
}

@keyframes pulsate {
    0% { 
        opacity: 0.2;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.2;
    }
}

.bounce {
	display: inline-block;
  	position: relative;
	animation: bounce 0.5s linear;
	animation-iteration-count: infinite;
}

@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    100% { top: 0; }
}

@keyframes highlight {
 	0% {

 	}
 	100% {
 		color: $abyss;
 		background: $neon-pink;	
 	}
}


/* 
	SECTION 
*/

.section_title {
	font-family: $title-font;
	font-size: $title-font-size;
	font-weight: bold;
	color: $neon-pink;
}

.section_subtitle {
 	text-decoration: none;
 	font-family: $subtitle-font;
 	font-size: $subtitle-font-size;
 	font-weight: bold;
	color: $neon-green;
 }

.section_content {
	border-left: $primary-border;
	padding-top: 2%;
	padding-left: 10%;
	padding-right: 10%;
}

/* 
	NAV
 */

#bars {
	color: $snow;
}

/* 
	HOME
 */

.home_style {
	min-height: 100%;
	position: relative; 
}

.center_text {
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
}

#name {
	font-family: $title-font;
	font-size: 2em;
	font-weight: bold;
	color: $snow;
}

.bouncy_link {
	font-family: $subtitle-font;
	font-size: 20px;
	font-weight: bold;
	color: $neon-green;
}

.grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: top;
}

.card {
	display: flex;
	flex-flow: column;
	align-items: center;
	vertical-align: top;
	height: $card-height;
	width: $card-width;
	margin: 10px;
  	padding: 10px;
  	border-top: 2px solid #F92672;
  	border-radius: 5px 5px 0 0;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card_header {
	overflow: hidden;
	font-family: $header-font;
	color: $neon-blue;
	flex-grow: 1;
}

.card_description {
    overflow: hidden;
    flex-grow: 2;
}

.card_links {
	width: 100%;
	height: 30px;
	padding: 5px;
	justify-content: center;
	align-items: center;
	background-color: $lighter-graphite;
	border-radius: 10px;
	box-shadow: inset 0 0 5px #000, 0 1px 1px rgba(255, 255, 255, 0.1);
	flex-grow: 0;
}

.img_links {
	display: inline-block;
	margin: 2px;
}

.adding_projects {
	padding: 10px;
	color: #5b502c;
	opacity: 5;
}

#copyright {
	font-family: 'Zilla Slab', serif;
  	font-size: medium;
 	color: gray;
}

/* 
	BLOG
 */

.blog_style {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	font-size: larger;
	min-height: 100%;
	position: relative; 
}

#blog_title {
	font-size: 1.5em;
}

#blog_header {
	font-family: $title-font;
	font-weight: bold;
	font-size: 1.75em;
	color: $snow;
}

#blog_tag {
	padding-left: 0.2em;
	padding-right: 0.2em;
	font-size: medium;
	color: $abyss;
	background-color: $neon-pink;
	box-shadow: 3px 3px 3px $abyss;
}

#blog_date {
	font-size: x-large;
	color: gray;
}

.post_style {
	padding-left: 25%;
	padding-right: 25%;
	min-height: 100%;
	position: relative; 
}

/* 
	CREDITS
 */

.credits_style {
	text-align: center;
	min-width: 100%;
	min-height: 100%;
	position: relative; 
}

/* 
	MOBILE
 */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    blockquote {
        margin-left: 10px;
        margin-right: 10px;
        text-align: left;
        font-size: 1em;
    }

    .section_content {
    	padding:0;
    }

    .grid {
    	flex-direction: column;
		justify-content: center;
		align-items: center;
    }

    .card_header {
    	font-family: $primary-font;
		font-weight: bold;
    }

    .skills {
		text-align: center;
	}

	.blog_style {
		text-align: left;
	}

	.post_style {
		padding-left: 5%;
		padding-right: 5%;
	}

	pre > code {
		overflow: scroll;
		padding: 1%;
		font-size: medium;
	}

	footer {
		font-size: small;
	}
}





 


